
body {
  color: grey;
  font-size:18px;
  margin-top:0;
  margin: 0;
  text-align: center;
  /*Used text-align center to center everything in the divs so far.*/
  font-family:'Lato','Roboto',"Helvetica Neue",Helvetica,Arial,sans-serif;
  /* Prefer to use web-safe fonts. If not, we can use back-ups. Check out
  cssfontstack.com and clipboard copy the similar font family. But more
  impressive to do, is to go to Google Fonts and embed a font from there.
  */
}


hr {
  border:none;
  border-top:  5px dotted lightgray;
  width: 30%;
  padding-top:30px;
}

h1,h2,h3,h4 {
  font-family:'Roboto', sans-serif;
  margin-top: 0;
  /*To specifically center the Im text use the width and margin below.
  However, do not use the text-align center in body at the same time.
  text-align center in body is used as it centers eveything in body.
  width: 15%;
  margin: 0 auto; */

}

.top-container {
  padding-top: 75px; /*Since changing the position from static to relative, adding
  50px to the top container only adds white space to the body/bad design,
  apparently increase the top of container. Take out top 50px, increase the
  height of the div and lower the top cloud by adding padding-top to
  the top cloud. */
  background-color: #E4F9F5;
  position:relative;
  /*Change position to relative to manipulate elements in container.
  Now the bottom cloud with a posiiton of absolute can be properly
  moved within the div. */
}

.mountain {
  width: 50%
}

.pro-underline {
  text-decoration-line: underline;
}

.top-cloud {
  margin-top: 0;
  /* The height of the container, in this case its top-container,
  by increasing the height of the top of the margin of an element,
  in this case, the top cloud. */
  /* margin-left: 400px; */
  /*While the cloud would be pushed more to the
  right by increasing margin-left in position absolute, it is best practice
  to position in relation to the div.*/
  /* padding-top: 75px; /*1. Staring this numbering very late because I
  just got the idea. Anyway, using padding gives us the effect:
  the top cloud looks lower in the background/sky. I also want to move the
  lower cloud to the left. The parent div, top container
  must have position:relative for this to work.
  */
  /*2. What if I want to move the top cloud in the future! Better I add the
  padding to the div itself, the top of the div top container!!*/
  position:absolute;
  /*3. To avoid difficulty moving this top cloud, opt for, again, use absolute
  positioning to place the clouds relative to the border of the top container.
  That looks like this below: */
  right:300px;
  top:50px;

}


.bottom-cloud {
  position: absolute;
  /* By changing bottom-cloud's position from static to absolute,
  it's removed from the html file's flow. Take an element out of
  the html flow by changing the positon value to absolute.*/
  /* margin-right: 200px; */
  /* When I go to use margin-right in bottom cloud, it won't work because
   I need to position the cloud relative to the top-container in order
   move it around. This is done by setting the positon of the top container
   from static, to position:relative */
   /* 4. Same thing will be done here as in comment 4 */
   bottom:300px;
   left:300px;
}


.profPic {
  border-radius: 50%;
  width:15%;
  padding: 50px;
}

p {
  padding: 20px 50px 50px 20px;
}


#birdycen {
position:relative;
width:3%;
}

.profile {
  background-color:#89b0e9;
}

.footer-link {
  color: #eeeeee;
  text-decoration: none;
  position: relative;

}

.bottom-container {
  background-color:#112d4e;
  color:f9f7f7;
  position: relative;
}


/* position: absolute;
width: 30px;
top:167px;
right:734px;
} */
